.feedback {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 2rem;
  gap: 2rem;
  /* justify-items: center; */
}

.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feedback-container img {
  max-width: 100px;
  object-fit: contain;
}

.feedback-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--background-painel);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.feedback-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.feedback-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.feedback-item-info p {
  max-width: 60ch;
}

.feedback-item-info span {
  font-weight: 600;
}
