/* .task-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  margin: 2rem;
  gap: 2rem;
} */
.task-pending {
  position: relative;
}

.task-pending h2::before {
  content: " ";
  width: 100px;
  height: 3px;
  /* position: absolute; */
  /* top: 130px; */
  background-color: var(--select-itens);
}
