.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  background: var(--background-painel);
  border-radius: 8px;
  padding: 1.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  gap: 1rem;
  border-right: 5px solid var(--border-green);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
