/* ----------------------- Filtro por status ----------------------- */

.seletores {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropdown {
  width: 100%;
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  position: relative;
}

.selected {
  padding: 0.6rem 1rem;
  border-top: none;
  background: var(--background-painel);
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  /* align-items: center; */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.seletores .filter-icon {
  position: absolute;
  top: 7px;
  right: 12px;
  z-index: 1;
}

.options {
  width: 100%;
  max-width: 200px;
  list-style: none;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  display: none;
  z-index: 10;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.options li {
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.options li:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
.selected:hover {
  background-color: rgba(77, 79, 84, 0.5);
}
/* ---------------------- ANIMAÇÕES DO FILTRO ---------------------- */

.fade-out {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

@media (max-width: 600px) {
  .seletores {
    font-size: 1rem;
    max-width: 200px;
  }

  .options {
    max-width: 200px;
  }
}
