.modal-task {
  display: flex;
  justify-content: space-between;
  background: var(--background-painel);
  padding: 1.25rem;
  border-radius: 10px;
  position: relative;
  display: none;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
}
.modal-content {
  margin: 20px;
  padding: 1.25rem;
}

.close-modal {
  position: absolute;
  top: 15px;
  left: 90%;
  border: none;
  background-color: var(--background-button);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.info-task {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  margin-top: 15px;
}

.info-task ul {
  list-style-type: none;
}

.info-task ul li {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

.info-task-desc {
  max-width: 50ch;
}

.footer-modal {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.footer-modal button {
  align-self: right;
  padding: 0.625rem 1rem;
  border: none;
  background-color: var(--border-green);

  font-weight: bold;
  font-size: 1rem;

  opacity: 0.8;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-content h3 {
    font-size: 0.875rem;
  }

  .modal-content p {
    font-size: 0.875rem;
  }

  .info-task-desc {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .modal-task {
    margin: auto;
  }
}
