.card p {
  margin-bottom: 30px;
}

.task-working .card {
  border-right: 4px solid var(--border-orange);
}
.task-working,
.task-completed,
.task-pending {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.task-completed .card {
  border-right: 4px solid var(--border-blue);
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Tela de task completada */
.task-completed .footer-task {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
