/* ----------------------- RESET ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
}

a:visited {
  color: initial;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

:root {
  --background: #dee4f5;
  --background-painel: #ffffff;
  --background-button: #f2f2f2;
  --color-text: #333;
  --border-green: #7ed957;
  --border-orange: #f39c12;
  --border-blue: hsl(234, 71%, 66%);
  --select-itens: #4f46e5;
}

/* ----------------------- Titles ----------------------- */

h1 {
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Fira Sans", sans-serif;
}

h2 {
  margin-bottom: 15px;
  color: var(--color-text);
  font-size: 1.4rem;
  /* text-align: center; */
}

h3 {
  font-size: 1.1rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
  /* height: 10000px; */
  /* padding: 20px; */
  /* align-items: center; */
  /* gap: 20px; */
}

main {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  /* height: fit-content; */
  /* height: 3000px; */
}
