/* ----------------------- RESET ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* ----------------------- Titles ----------------------- */

h2 {
  color: var(--color-text);
  font-size: 1.4rem;
  /* text-align: center; */
}

body {
  background-color: var(--background);
}

.layout {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2rem;
  gap: 2rem;
}

.main {
  width: 100%;
  flex: 1;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}
