.header {
  display: flex;
  padding: 20px;
  border-radius: 0px 0 25px 0px;
  background: linear-gradient(300deg, #5250e3 0%, #4f46e5 45%, #6d6af7 100%);
  align-items: center;
}
.header h1 {
  color: #ffffff;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* margin: auto; */
}

.header-list {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 10px;
  gap: 1.5rem;
}

.header-container a {
  color: #ffffff;
}

.src-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search {
  width: 100%;
  border-radius: 14px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}

@media (max-width: 800px) {
  .search {
    display: none;
  }
}

@media (max-width: 550px) {
  .header-list {
    display: none;
  }

  .header h1 {
    margin: 0 auto;
  }
}
