.sidebar-container {
  display: flex;
  /* align-content: center; */
  /* justify-content: center; */
  /* flex-shrink: 0; */
}

.sidebar {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0px;
  height: 100vh;

  background-color: var(--background-painel);
  min-width: 82px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  padding: 0.745rem;
}

.user {
  display: flex;
  align-items: center;
  justify-items: center;
  /* gap: 0.5rem; */
  margin-bottom: 24px;
  width: 100%;
}

#user_avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 100%;
}

.user_infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user_infos span:last-child {
  color: #6b6b6b;
  font-size: 0.75rem;
}

/* Navegação  */
.side_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 0.875rem;
  cursor: pointer;
}

.side-item.active {
  background-color: var(--select-itens);
}

.side-item:hover:not(.active),
.logout_btn:hover {
  background-color: #e3e9f7;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;
}

.side-item.active a {
  color: #e3e9f7;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.logout {
  display: flex;
  border-top: 1px solid #e3e9f7;
  padding: 0.75rem;
  align-items: center;
  justify-content: center;
}

.logout_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  font-size: 0.875rem;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

.open_btn {
  position: absolute;
  top: 55px;
  right: -12px;
  background-color: #4f46e5;
  color: #e3e9f7;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}

.open_btn_icon {
  transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-description {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  transition: width 0.6s;
  height: 0px;
}

.sidebar.open-sidebar {
  min-width: 15%;
}

.sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

.sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 0.875rem;
}

.sidebar.open-sidebar .logout_btn {
  justify-content: flex-start;
  gap: 0.875rem;
}

@media (max-width: 600px) {
  .sidebar a {
    font-size: 1rem;
  }

  .open_btn {
    top: 430px;
  }

  .sidebar .user {
    width: 0px;
    overflow: hidden;
    height: 0px;
  }
}

@media (max-width: 400px) {
  .sidebar {
    display: none;
  }
}
