.feedback {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
  gap: 2rem;
  /* justify-items: center; */
}

.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feedback-container img {
  max-width: 100px;
  object-fit: contain;
}

.feedback-item {
  background-color: var(--background-painel);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  gap: 1.5rem;
}

.feedback-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.feedback-item-info p {
  max-width: 80ch;
}

.feedback-item-info span {
  font-weight: 600;
}
