/* ----------------------- Filtro por status ----------------------- */

.seletores {
  display: flex;
  /* gap: 15px; */
  margin-bottom: 30px;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

.seletores::before {
  content: "";
  width: 200px;
  height: 3px;
  position: absolute;
  top: 130px;
  background-color: var(--select-itens);
  /* background-color: red; */
}

.dropdown {
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: flex;
  /* position: relative; */
  place-content: center;
  flex-direction: column;
}

.dropdown i {
  float: right;
  margin: 4px 4px 4px 0;
  color: #666;
}

.selected {
  width: 100%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-top: none;
  background: var(--background-painel);
  cursor: pointer;
  border-radius: 0 0 18px 18px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.options {
  list-style: none;
  /* border: 1px solid #ccc; */
  background: #fff;
  border-radius: 18px;
  position: absolute;
  top: 80px;
  width: 100%;
  max-width: 300px;
  display: none;
  z-index: 10;
}

.options li {
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.options li:hover {
  background: rgb(228, 228, 235, 0.9);
  color: white;
}
/* ---------------------- ANIMAÇÕES DO FILTRO ---------------------- */

.fade-out {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

@media (max-width: 600px) {
  .seletores {
    font-size: 1rem;
    max-width: 200px;
  }
  .seletores::before {
    content: "";
    width: 130px;
    height: 3px;
    position: absolute;
    top: 130px;
    background-color: var(--select-itens);
    /* background-color: red; */
  }

  .options {
    max-width: 200px;
  }
}
