.menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 10px;

  width: 100%;
  max-width: 300px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  padding: 40px;

  background: var(--background-painel);
  border-radius: 12px;
  box-shadow: 0 6px 14px #a2a1a1;
  /* flex-shrink: 0; /*Impede que diminua demais */
}

.menu h1 {
  font-size: 24px;
}

.menu img {
  width: 100%;
  max-width: 130px;
  border-radius: 50%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.btn-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-opt {
  background: #e6e6e6;
  border: none;
  padding: 14px;

  width: 100%;
  border-radius: 12px;
  margin: 12px 0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  font-size: 16px;
}

.btn-opt:hover {
  background: var(--background-painel);
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.menu {
  direction: rtl; /* move a scroll para a esquerda */
}

.menu * {
  direction: ltr; /* mantém o texto normal */
}

/* Largura da barra */
.menu::-webkit-scrollbar {
  width: 10px;
}

/* Fundo da barra (trilho) */
.menu::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px; /* arredonda o trilho */
}

/* Parte que se move (thumb) */
.menu::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px; /* arredonda o botão de scroll */
}

/* Hover */
.menu::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

/* ----------------------- BOTÃO DE FECHAR MENU ----------------------- */
.close-menu {
  position: absolute;
  top: 20px;
  right: 18px;

  background: var(--background-button);
  border: 1px solid #bbb;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ----------------------- MENU COLLAPSED  ----------------------- */

.menu-collapsed {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 20px;

  width: 100%;
  max-width: 30px;
  min-width: 30px;
  max-height: 750px;

  background: var(--background-painel);
  border-radius: 12px;
  box-shadow: 0 6px 14px #a2a1a1;
  align-items: center;
  justify-content: center;
  display: none;
}

.menu-collapsed button {
  height: 100%;
  background: var(--background-painel);
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
}

/* ------------------ ANIMAÇÃO DO MENU LATERAL ------------------ */

.menu {
  transition: transform 0.35s ease, opacity 0.35s ease;
  transform: translateX(0);
  opacity: 1;
}

.menu.hidden {
  transform: translateX(-40px);
  opacity: 0;
  pointer-events: none;
}
