.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 70vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  transition: all 0.5s;
  min-width: 82px;
  z-index: 2;
}

.sidebar_content {
  padding: 0.745rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 24px;
  text-overflow: ellipsis;
  /* flex: 1; */
}

#user_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.user_infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user_infos span:last-child {
  color: #6b6b6b;
  font-size: 0.75rem;
}

.side_items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 0.875rem;
  cursor: pointer;
}

.side-item.active {
  background-color: var(--select-itens);
}

.side-item:hover:not(.active),
.logout_btn:hover {
  background-color: #e3e9f7;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;
}

.side-item.active a {
  color: #e3e9f7;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.logout {
  border-top: 1px solid #e3e9f7;
  padding: 0.75rem;
}

.logout_btn {
  max-width: 100%;
  border: none;
  padding: 0.75rem;
  font-size: 0.875rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

.open_btn {
  position: absolute;
  top: 30px;
  right: -12px;
  background-color: #4f46e5;
  color: #e3e9f7;
  border-radius: 50%;
  /* padding: 8; */
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

.open_btn_icon {
  transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-description {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  transition: width 0.6s;
  height: 0px;
}

.sidebar.open-sidebar {
  min-width: 15%;
}

.sidebar.open-sidebar .item-description {
  width: 250px;
  height: auto;
}

.sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 0.875rem;
}

@media (max-width: 600px) {
  .sidebar a {
  }
}
