.modal-task {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: var(--background-painel);
  height: fit-content;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  display: none;
}
.modal-content {
  margin: 20px;
  padding: 20px;
}

.close-modal {
  position: absolute;
  top: 15px;
  left: 90%;
  border: none;
  background-color: var(--background-button);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.info-task {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  margin-top: 15px;
}

.info-task ul {
  list-style-type: none;
}

.info-task ul li {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

.info-task-desc {
  height: 200px;
}

.footer-modal {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.footer-modal button {
  align-self: right;
  padding: 10px 20px;
  border: none;
  background-color: var(--border-green);

  font-weight: bold;
  font-size: 16px;

  opacity: 0.8;
  border-radius: 6px;
  cursor: pointer;
}
