@import "./menu.css ";
@import "./global.css ";
@import "./filtro.css ";
@import "./task.css";
/* ----------------------- HEADER ----------------------- */
header {
  flex-direction: row;
  justify-content: center;

  padding: 20px;
  width: 100%;

  border-radius: 8px;
  /* margin-bottom: 25px; */
  background-color: var(--background-painel);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ----------------------- MAIN ----------------------- */
main {
  display: flex;
  width: 100%;
  gap: 30px;
  height: fit-content;
  /* height: 3000px; */
}

/* ÁREA DE TAREFAS */
/* .container-tasks {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  align-items: flex-start;
} */

/* .task {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: start;
} */

/* Cada coluna (mantém estrutura interna) */
/* .task-pending,
.task-working,
.task-completed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
} */
/* ----------------------- CARD ----------------------- */
/* .task-card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-painel);
  border-right: 5px solid var(--border-green);
  border-bottom: 5px solid var(--border-green);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.task-card p {
  text-align: justify;
  margin: 15px 0;
  line-height: 1.6;
}

.task-working .task-card {
  border-right: 5px solid #f39c12;
  border-bottom: 5px solid #f39c12;
}

.task-completed .task-card {
  border-right: 5px solid hsl(234, 71%, 66%);
  border-bottom: 5px solid hsl(234, 71%, 66%);
} */

/* -------------------Footer do card -------------------*/
/* .footer-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.btn-start {
  background: var(--background-button);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  align-self: right;
  cursor: pointer;
  font-weight: bold;
}

.btn-start:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.times {
  font-size: 16px;
  color: gray;
} */

/* ----------------------- MODAL ----------------------- */
.modal-task {
  display: flex;
  justify-content: center;
  background: var(--background-painel);
  height: fit-content;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  display: none;
}
.modal-content {
  margin: 20px;
  /* border: #333 1px solid; */
  padding: 20px;
}

.close-modal {
  position: absolute;
  top: 15px;
  left: 90%;
  border: none;
  background-color: var(--background-button);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.info-task {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  margin-top: 15px;
}

.info-task ul {
  list-style-type: none;
}

.info-task ul li {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
}

.info-task-desc {
  height: 200px;
}

.info-task ul li p {
  font-size: 16px;
  text-align: justify;
}

.footer-modal {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.footer-modal button {
  align-self: right;
  padding: 10px 20px;
  border: none;
  background-color: var(--border-green);

  font-weight: bold;
  font-size: 16px;

  opacity: 0.8;
  border-radius: 6px;
  cursor: pointer;
}

/* ----------------------- RESPONSIVIDADE ----------------------- */
@media (max-width: 900px) {
}
