/* ----------------------- RESET ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #dee4f5;
  --background-button: #f2f2f2;
  --color-text: #333;
  --border-green: #7ed957;
}

/* ----------------------- BODY ----------------------- */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  /* padding: 20px; */
  /* align-items: center; */
  /* gap: 20px; */
}

/* ----------------------- Titles ----------------------- */
h1 {
  color: var(--color-text);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
  color: var(--color-text);
  /* text-align: center; */
}

/* ----------------------- HEADER ----------------------- */
header {
  flex-direction: row;
  justify-content: center;

  padding: 20px;
  width: 100%;

  border-radius: 8px;
  margin-bottom: 25px;
  background-color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ----------------------- MAIN ----------------------- */
main {
  display: flex;
  width: 100%;
  gap: 30px;
  height: fit-content;
  height: 3000px;
}

/* ----------------------- MENU LATERAL ----------------------- */

.menu {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 20px;

  width: 100%;
  max-width: 300px;
  /* min-width: 240px; */
  max-height: 600px;

  padding: 20px;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 14px #a2a1a1;
  /* flex-shrink: 0; Impede que diminua demais */
}

.menu img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: #333 0 6px 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.btn-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-opt {
  background: #f2f2f2;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 20px;
  margin: 8px 0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-opt:hover {
  background: #e0e0e0;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

/* ----------------------- MENU COLLAPSED  ----------------------- */

.menu-collapsed {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 20px;

  width: 100%;
  max-width: 30px;
  min-width: 30px;
  max-height: 200px;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 14px #a2a1a1;
  align-items: center;
  justify-content: center;
  max-height: 600px;
  display: none;
}

.menu-collapsed button {
  height: 100%;
  background: white;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
}

/* ----------------------- ÁREA DE TAREFAS ----------------------- */
.container-tasks {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  align-items: flex-start;
}

.task {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 20px; /* controla o espaço entre as colunas */
  justify-content: center; /* centraliza o grid no espaço disponível */
  width: 100%;
  max-width: 1000px; /* limita quanto o grid pode se espalhar */
  margin: 0 auto; /* centra o bloco inteiro na página */
  padding: 10px 20px; /* padding lateral pequeno (opcional) */
  align-items: start;
}

/* Cada coluna (mantém estrutura interna) */
.task-pending,
.task-working {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
/* ----------------------- CARD ----------------------- */
.task-card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 5px solid var(--border-green);
  border-bottom: 5px solid var(--border-green);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.btn-start:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.task-card p {
  text-align: justify;
  margin: 15px 0;
  line-height: 1.6;
}

.task-card button {
  background: var(--background-button);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  align-self: flex-end;
  cursor: pointer;
  font-weight: bold;
}

/* Cards de execução */
.task-working .task-card {
  border-right: 5px solid #f39c12;
  border-bottom: 5px solid #f39c12;
}

/* ----------------------- MODAL ----------------------- */
.modal-task {
  display: flex;
  justify-content: center;
  background: white;
  height: fit-content;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  display: none;
}
.modal-content {
  margin: 20px;
  /* border: #333 1px solid; */
  padding: 20px;
}

.close-modal {
  position: absolute;
  top: 15px;
  left: 90%;
  border: none;
  background-color: var(--background-button);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.info-task {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  margin-top: 15px;
}

.info-task ul {
  list-style-type: none;
}

.info-task ul li {
  margin-bottom: 10px;
  background-color: #f3efef;
  border-radius: 8px;
  padding: 10px;
}

.info-task-desc {
  height: 200px;
}

.info-task ul li p {
  font-size: medium;
  text-align: justify;
}

.footer-modal {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.footer-modal button {
  align-self: right;
  padding: 10px 20px;
  border: none;
  background-color: rgba(173, 255, 47, 0.6);
  opacity: 0.8;
  border-radius: 6px;
  cursor: pointer;
}

/* ----------------------- BOTÃO DE FECHAR MENU ----------------------- */
.close-menu {
  align-self: flex-end;
  background: var(--background-button);
  border: 1px solid #bbb;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ----------------------- RESPONSIVIDADE ----------------------- */
@media (max-width: 900px) {
}
