@import "./menu.css ";
@import "./global.css ";
@import "./filtro.css ";
@import "./task.css";
@import "./header.css";
@import "./modal-task";
@import "./feedback.css";
/* ----------------------- MAIN ----------------------- */
/* -------------------Footer do card -------------------*/
/* .footer-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.btn-start {
  background: var(--background-button);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  align-self: right;
  cursor: pointer;
  font-weight: bold;
}

.btn-start:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.times {
  font-size: 16px;
  color: gray;
} */
/* ----------------------- MODAL ----------------------- */
.modal-task {
  display: flex;
  justify-content: center;
  background: var(--background-painel);
  height: fit-content;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  display: none;
}
.modal-content {
  margin: 20px;
  /* border: #333 1px solid; */
  padding: 20px;
}

.close-modal {
  position: absolute;
  top: 15px;
  left: 90%;
  border: none;
  background-color: var(--background-button);
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.info-task {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  margin-top: 15px;
}

.info-task ul {
  list-style-type: none;
}

.info-task ul li {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
}

.info-task-desc {
  height: 200px;
}

.info-task ul li p {
  font-size: 16px;
  text-align: justify;
}

.footer-modal {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.footer-modal button {
  align-self: right;
  padding: 10px 20px;
  border: none;
  background-color: var(--border-green);

  font-weight: bold;
  font-size: 16px;

  opacity: 0.8;
  border-radius: 6px;
  cursor: pointer;
}

/* ----------------------- RESPONSIVIDADE ----------------------- */
@media (max-width: 900px) {
}
