/* Global */
@import "./global/global.css ";
@import "./global/menu.css ";
@import "./global/header.css";

/* UTILITARIOS */
@import "./utilitarios/filtro.css ";
@import "./utilitarios/task.css";
@import "./utilitarios/modal-task.css";
@import "./utilitarios/color.css";
@import "./utilitarios/componentes.css";
@import "./utilitarios/tipografia.css";
@import "./utilitarios/card.css";

/* HOME */
@import "./home/feedback.css";
@import "./home/home.css";
